main {
    background-color: #0f0f0f;
}


.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/img/sfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Rust;
    src: url(/font/Rust.ttf);
}

.titolo {
    font-family: "Rust";
    margin-top: 20px;
    color: #CF432C;
}

.spazio {
    margin-top: 100px;
}

.testo {
    color: #a0a0a0;
    font-family: "Comic sans ms";
}